.main-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.main-page .search-box {
    display: flex;
    gap: 5px;
}

.main-page .search-box input {
    padding: 0;
    background: #444;
    color: white;
    outline: none;
    border-radius: 20px;
    border: none;
    transition: .2s;
    text-align: center;
}

.main-page .search-box input:focus {
    padding: 0 10px;
}

.main-page .search-box button {
    padding: 10px;
    background: transparent;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.main-page .search-box button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.main-page .search-box button img {
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.functionalities-main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.functionalities-main-page .organization-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.functionalities-main-page .organization-box button{
    background: transparent;
    border: 1px solid #444;
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    transition: .2s;
}

.functionalities-main-page .organization-box button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.functionalities-main-page .organization-box button.list{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.functionalities-main-page .organization-box button.grid{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.functionalities-main-page .organization-box button img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.functionalities-main-page .add-image-functionality {
    padding: 10px;
    background: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.functionalities-main-page .add-image-functionality:hover {
    background: rgba(255, 255, 255, 0.1);
}

.functionalities-main-page .add-image-functionality img {
    width: 100%;
    height: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.functionalities-main-page .show-favorites {
    padding: 10px 20px;
    background: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

.functionalities-main-page .show-favorites:hover {
    background: rgba(255, 255, 255, 0.1);
}

.functionalities-main-page .active-images-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.functionalities-main-page .active-images-box span {
    font-size: 1em;
    color: #fff;
}

.main-page .container-image-card.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-page .container-image-card.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}